<div class="header">
	<h3 class="text-muted">ticTacToe</h3>
</div>

<div class="jumbotron">
	<p class="lead">You know what to do.</p>
	<div class="board">
		<div class="row" ng-repeat="(rowIndex,row) in board track by $index">
			<div class="box" ng-repeat="(columnIndex, box) in row track by $index" ng-click="toggle(rowIndex, columnIndex)">
				<span ng-show="box">{{box}}</span>
			</div>
		</div>
	</div>
	<p><a class="btn btn-lg btn-success" ng-click="play()" ng-show="!gameInProgress">Play Game!</a></p>
</div>


<div class="footer">
	<p>Built by Kyle Gepppert. You should hire me!</p>
</div>